<footer>
	<hr>
	<p class="pull-right">
		<a href="#Top"><span class="glyphicon-class glyphicon glyphicon-chevron-up"></span> Back to top</a>
	</p>
	<p style="text-align: center;">
		© 2014 Census
	</p>

</footer>