<%= javascript_include_tag 'about' %>

<h1>
	About Census
</h1>

<p>
	Census is a solution to find relatives when a disaster happens somewhere in the world.
</p>
<p>
	<ul>
	<li>
		With the chaos of a natural disaster or an accident, it can be very difficult to know if someone close is
		injured or even still alive.
	</li>
	<li>
		And when someone finds someone else in difficulty, he has to tell the world what happened to this person,
		so that his relatives can be informed.
	</li>
	</ul>	 
</p>
