<%= javascript_include_tag 'about' %>

<h1> About Intranet </h1>

<p>
	Intranet:
</p>
<ul>
	<li>
		Enables a <strong>student</strong> to enroll for up to five course
		modules and view his records.
	</li>
	<li>
		Facilitate <strong>lecturers</strong> to assign, and modify, grades
		(between 0 and 100) to students for course modules
		that they teach.
	</li>
	<li>
		Enable <strong>module administrators</strong> to assign course
		modules to lecturers.
	</li>
</ul>

